.page{
    text-align: center;
    background: white;
    display: table;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
header{
    margin-top: -20px;
    background: dimgrey;
    height: 120px;
    width: 100%;
    display: block
}
#sinwifi{
    display: block;
    height: 120px;
    float: left;
    padding: 5px;
}
#titulo{
    font-size: 3em;
    color: black;
    float: left;
    padding-top: 10px;
}
nav{
    float: left;
    padding-top: 30px;
    margin-left: 80px;
}
#subtitulo1 {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    display: inline-block;
}
#subtitulo1:hover{
    background: #e1c296;
}
#subtitulo2 {
    background-color: white;
    border-radius:10px;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    display: inline-block;
    margin-left: 2px;
}
#subtitulo2:hover{
    background: #e1c296;
}
#juego{
    margin: 2% 1% 5% 4% ;
    width: 54%;
    height: 400px;
    float: left;
    display: inline-block;
    border: 1px solid black;
    background: #eee;

}
#jugador {
    width: 70px;
    height: 70px;
    background: url("imagenes/dino.png");
    background-size: 70px;
    position: relative;
    top: 250px;
    left: 100px;
}
#bloque1{
    width: 20px;
    height: 50px;
    background-color: black;
    position: relative;
    top: 200px;
    left: 715px;
}
aside{
    margin: 2% 4% 5% 1%;
    float: right;
    width: 35%;
    height: 400px;
    background-color: darkgrey;
    display: inline-block;
    border: 1px solid black ;
}
form{
    font-size: 1.8em;
    padding: 50px 0 50px 0;
}
input{
    width: 180px;
    font-size: 1em;
}
select{
    width: auto;
    font-size: 1em;
}
option{
    width: 140px;
    font-size: 0.5em;
}
#botonJugar{
    font-size: 1.5em;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    display: inline-block;
    background-color: white;
}
#botonJugar:hover{
    background: mediumpurple;
}
#comoJugar{
    float: left;
    font-size: 2em;
    margin-top: 1em;
    margin-left: 6em;
    padding: 2em;
    background-color: darkgrey;
    display: inline-block;
}
#topScores{
    float: right;
    font-size: 2em;
    margin-top: 2em;
    margin-right: 2em;
    padding: 1.8em;
    background-color: darkgrey;
    display: inline-block;
}
#controles{
    float: right;
    font-size: 2em;
    margin-top: 2em;
    margin-right: 7.5em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: darkgrey;
    display: inline-block;
}
#imagenTeclas {
    width: 40px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
