#titulo{
    font-size: 3em;
    text-align: left;
    color: #ffffff;
}
#principal{
    width: 80px;
    float: left;
    border-radius: 50%;
}
table, tr, td, th{
    border: 1px solid #000000;
    text-align: center;

}
a:link, a:visited{
    color: #ffffff;
    text-underline-mode: ;
}
header{
    background: black;
}
.container{
    float: left;
    width: 65%;
}
form{
    float: right;
    width: 35%;
}
.page{
    margin: 5em;
    text-align: center;
    background: linear-gradient(to right, #4682b4, #2f4f4f);
    display: table;
    width: 100%;
}
#juego{
    border: 1px #ffffff;
    border-radius: 50%;
}
